<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cakekue</title>
</head>
<body>

    <div id="main">
            <div class="logo" id="logo">Cakekue</div>

            <nav>
                <ul class="nav-bar" id="nav-bar">
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Contact">Contact</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Login">Login</a>
                </li>
                <li>
                   <a asp-area="" asp-page="/Menu">Menu</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Admin">Admin</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Checkout">Checkout</a>
                </li>
                </ul>
        </nav>

        @RenderBody()
    </div>

</body>
</html>