@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="title">Celebrate your special days with us!</h1>
<p>Based in Brunei Darussalam, the finest local ingredients to create delicious bakes that will make you happy</p>
